<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{{package.json:title}}</title>
  <meta name="description" content="{{package.json:description}}" />
  <meta name="version" content="{{buildVersion}}_{{package.json:version}}" />
  <meta name="application-name" content="{{package.json:title}}" />
  <style id="s">{{cssOutput}}</style>
</head>
<body>
  <a href="https://codeberg.org/Alamantus/FeatherWiki#versions">JavaScript</a> is required
  <script id="p" type="application/json">{}</script>
  <script id="a">{{jsOutput}}</script>
</body>
</html>
